:root {
  --bg-main: #0f1115;
  --bg-card: #151922;
  --bg-navbar: #0b0d12;

  --text-main: #e6e6e6;
  --text-muted: #9aa0a6;

  --accent: #ff5e5b;

  --border: #2a2f3a;
  --shadow: 6px 6px 0px #000;
}


* {
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.page-wrapper {
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 40px 30px;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 12px;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--border);
  z-index: -1;
  border-radius: 12px;
}

h1 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-muted);
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #0f1115;
  color: var(--text-main);
  border: 1px solid var(--border);
}

input::placeholder {
  color: #6b7280;
}

input:focus {
  box-shadow: 0 0 0 2px var(--accent);
  border-color: var(--accent);
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  color: var(--accent);
  border: 2px solid var(--accent);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  box-shadow: 4px 4px 0px var(#0b0d12);
  transform: translate(-2px, -2px);
  background-color: var(--accent);
  color: #000;
}

.divider {
  display: flex;
  align-items: center;
  margin: 25px 0;
  font-weight: bold;
  color: var(--text-muted);
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--border);
  margin: 0 10px;
}
/* FOOTER */
footer {
  background-color: var(--bg-navbar);
  color: var(--text-muted);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border-top: 1px solid var(--border);
  font-size: 18px;
  gap: 5px;
}

footer h3 {
  font-weight: bold;
  color: var(--text-main);
  margin: 0;
}

footer h4 {
  font-weight: normal;
  color: var(--accent);
  font-size: 18px;
  margin: 0;
}

footer p {
  color: var(--text-muted);
  margin: 0;
}

footer h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer a {
  color: var(--accent);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


.custom-navbar {
  background-color: var(--bg-navbar);
  border-bottom: 1px solid var(--border);
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: var(--text-muted) !important;
}

.nav-link:hover {
  color: var(--accent) !important;
}



.navbar-logo {
    height: 100px;
    width: auto;
}

.custom-navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: #0b0d12;
    border-bottom: 1px solid #2a2f3a;
}

/* --- LANDING PAGE STYLES --- */

.landing-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

.landing-logo {
    max-width: 200px;
    height: auto;
}

.feature-heading {
    color: var(--text-main);
    font-size: 32px;
}

.text-muted {
    color: var(--text-muted) !important;
}


.btn-get-started {
    background-color: var(--accent);
    color: #000;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(255, 94, 91, 0.4);
}

.btn-get-started:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 94, 91, 0.6);
    background-color: #ff7b79;
    color: #000;
}


.btn-nav {
    background-color: var(--accent);
    color: #000 !important;
    font-weight: bold;
    border-radius: 50px;
    padding: 8px 25px;
    border: none;
    box-shadow: 0 4px 10px rgba(255, 94, 91, 0.4);
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn-nav:hover {
    transform: scale(1.05);
    background-color: #ff7b79;
    box-shadow: 0 6px 15px rgba(255, 94, 91, 0.6);
    color: #000 !important;
}

/*MODULES*/

.module-card {
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    transition: all 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
}

.module-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-color: var(--accent);
}

.module-card .card-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* --- DELETE BUTTON --- */


.module-card {
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
    transform: scale(1.1);
}

.module-card:hover .delete-btn {
    opacity: 1;
}

/* --- Pencil Button EDITE --- */
.edit-btn {
    position: absolute;
    top: 10px;
    right: 55px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: var(--accent);
    color: black;
    transform: scale(1.1);
}


.module-card:hover .edit-btn {
    opacity: 1;
}

/* ---  INPUT FILE --- */

input[type="file"] {
    padding: 10px;
    background-color: var(--bg-card);
    border: 1px dashed var(--border);
    border-radius: 8px;
    color: var(--text-muted);
    cursor: pointer;
    height: auto;
}

input[type="file"]::file-selector-button {
    margin-right: 15px;
    padding: 8px 16px;
    border: 2px solid var(--accent);
    background-color: transparent;
    color: var(--accent);
    font-weight: bold;
    font-family: 'Courier New', monospace;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 14px;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--accent);
    color: #000;
    box-shadow: 4px 4px 0px #0b0d12;
    transform: translate(-2px, -2px);
}


.error-message {
    color: var(--accent);
    background-color: rgba(255, 94, 91, 0.1);
    border: 1px solid var(--accent);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}